body {
    background-color: lightskyblue;
    }

.display{
    
    text-align: center;
}
.jumbotron{
    text-align: center;
}
.grid-container{
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto;
    background-color: white;
    font-size: 40px;
}
.grid-item{
    padding: 20px;
    border: 6px solid black;
}
.speler-1{
    align-content: center;
}
.speler-2{
    align-content: center;
}